nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

ul li{
    list-style:none;
    margin:0px;
}

#subjectCategory{
    overflow: hidden;
    box-sizing: border-box;
}

input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type='checkbox'] + label {
    display: inline-block;
    height: 30px;
    padding: 2px 12px;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.0;
    /*color: #009aff;*/
    border: 2px solid #ccc;
    text-align: center;
    float: left;
    margin: 4px;
    cursor: pointer;
    border-radius: 10px;
}

input[type='checkbox']:checked + label {
    /*border: 1px solid #009aff;*/
     background-color: #4dc63c;
     color: #fff;
     border-radius: 10px;
     font-weight: 500;
}


nav li a:hover {
    background-color: #111;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    font-weight: 300;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    height: 40px;
    padding: 0 40px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    transition-property: all;
    border-radius: 200px;
    transition-duration: .3s;
    border-style: solid;
    border-width: 1px;
    line-height: 38px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 5px;
    color: #EEE;
    border-color: #151515;
    background: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#101010));
}

.button {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 90%;
}

footer{
    background:#CCC;
    border-top:1px solid #000;
    padding:10px 0 30px 0;
    width:100%;
    text-align: center;
    flex: 0 0 auto;
} 

body {
    margin: auto;
    padding: 0;
    font-family: arial;
    height: 100%;
}
.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}
.apaper {
    margin-top: 25px;
    min-height: 300px;
}
.msga {
    background-color: #EEF;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2px;
}
.paperdesc {
    float: left;
    width: 750px;
}
.dllinks {
    float: right;
    text-align: right;
}
.animg {
    text-align: left;
    height: 156px;
}
.animg img {
    max-width: 100%;
}
.as {
    font-size: 14px;
    color: #900;
}
.cs {
    color: #009;
    font-size: 14px;
}
.ts {
    font-weight: bold;
    font-size: 16px;
}
.as a:link{ text-decoration: none; color: #900; }
.as a:visited{ text-decoration: none; color: #900; }
.as a:hover{ text-decoration: underline; color: #F00; }
.as a:active{ text-decoration: none; color: #900; }

.ts a:link{ text-decoration: none; color: #333; }
.ts a:visited{ text-decoration: none; color: #333; }
.ts a:hover{ text-decoration: underline; color: #000; }
.ts a:active{ text-decoration: none; color: #333; }

.cs a:link{ text-decoration: none; color: #009; }
.cs a:visited{ text-decoration: none; color: #009; }
.cs a:hover{ text-decoration: underline; color: #00F; }
.cs a:active{ text-decoration: none; color: #009; }
.ds {
    margin-right: 10px;
    color: #090;
    font-size: 14px;
}
.ds2 {
    margin-right: 10px;
    color: #099;
    font-size: 14px;
}
.ccs {
    color: #000;
    font-size: 12px;
}
.tt {
    color: #000;
    background-color: #EFE;
    font-size: 14px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
}
.spid {
    font-size: 14px;
    margin-right: 5px;
    color: #555;
}
#maindiv {
    width: 970px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;

    border-left: solid 1px #D6D3C5;
    border-right: solid 1px #D6D3C5;

    background-color: white;
}

.view-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.view-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.view-list li:last-child {
    border-bottom:none;
}

.view-list li:hover {
    background-color: #f8f9fa;
}