.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

.navbar {
    min-height: 10px;
}

.nav>li>a {
    padding: 0px 15px;
}

.navbar-brand {
    padding: 0px 15px;
}

#maindiv {
    width: 970px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 1px #D6D3C5;
    border-right: solid 1px #D6D3C5;
    background-color: white;
}

.apaper {
    margin-top: 25px;
    min-height: 300px;
}

.msga {
    background-color: #EEF;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2px;
}

.paperdesc {
    float: left;
    width: 750px;
}

.dllinks {
    float: right;
    text-align: right;
}

.animg {
    text-align: left;
    height: 156px;
}

.animg img {
    max-width: 100%;
}

.as {
    font-size: 14px;
    color: #900;
}

.cs {
    color: #009;
    font-size: 14px;
}

.ts {
    font-weight: bold;
    font-size: 16px;
}

.as a:link {
    text-decoration: none;
    color: #900;
}

.as a:visited {
    text-decoration: none;
    color: #900;
}

.as a:hover {
    text-decoration: underline;
    color: #F00;
}

.as a:active {
    text-decoration: none;
    color: #900;
}

.ts a:link {
    text-decoration: none;
    color: #333;
}

.ts a:visited {
    text-decoration: none;
    color: #333;
}

.ts a:hover {
    text-decoration: underline;
    color: #000;
}

.ts a:active {
    text-decoration: none;
    color: #333;
}

.cs a:link {
    text-decoration: none;
    color: #009;
}

.cs a:visited {
    text-decoration: none;
    color: #009;
}

.cs a:hover {
    text-decoration: underline;
    color: #00F;
}

.cs a:active {
    text-decoration: none;
    color: #009;
}

.ds {
    margin-right: 10px;
    color: #090;
    font-size: 14px;
}

.ds2 {
    margin-right: 10px;
    color: #099;
    font-size: 14px;
}

.ccs {
    color: #000;
    font-size: 12px;
}

.tt {
    color: #000;
    background-color: #EFE;
    font-size: 14px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
}

.spid {
    font-size: 14px;
    margin-right: 5px;
    color: #555;
}