{% extends 'base.html' %}

{% block content %}
    <center>
        <h2>arXiv</h2>
    </center>
    <div class="container">
        {# <div class="col-lg-offset-4 col-lg-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1"> #}
            <form method="post"  role="form" action="/arxiv">

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                {{ render_field(form.keyword, 0) }}
                {{ render_field(form.author, 0) }}
                {{ render_field(form.period, 0) }}
                {{ render_field(form.subjectCategory, 1) }}
                {{ render_field(form.func, 2) }}

                <center>
                    <button type="submit" class="btn btn-primary btn-lg">提交</button>
                </center>
            <form />
        {# </div> #}
    </div>
    <script>
        var CheckAll = document.getElementById('selectAll');
        var UnCheck = document.getElementById('uncheck');
        var sc = document.getElementById('subjectCategory');
        var CheckBox = sc.getElementsByTagName('input');
        CheckAll.onclick = function() {
            for (i = 0; i < CheckBox.length; i++) {
                CheckBox[i].checked = true;
            };
        };
        UnCheck.onclick = function() {
            for (i = 0; i < CheckBox.length; i++) {
                CheckBox[i].checked = false;
            };
        };
        
    </script>
{% endblock %}

{% macro render_field(field, selectAll) %}
    {{ field.label }}
    {% if selectAll == 1%}
        <input type="button" value="全选" class="btn btn-default btn-xs" id="selectAll">
        <input type="button" value="全不选" class="btn btn-default btn-xs" id="uncheck">
        <div class="form-group row">
            {{ field(**kwargs)|safe }}
            <script>
                var checkbox_ul = document.getElementById('subjectCategory');
                var checkbox_li = checkbox_ul.getElementsByTagName("li");
                for (i = 0; i < checkbox_li.length; i++) {
                    var x = checkbox_li[i];
                    x.classList = "pretty p-default p-curve";
                    var y = x.getElementsByTagName("label")[0];
                    var para = document.createElement("div");
                    para.classList = "state p-success";
                    para.appendChild(y.cloneNode(true));
                    x.replaceChild(para, y);
                };
            </script>
    {% else %}
        <div class="form-group">
            {{ field(**kwargs)|safe }}
    {% endif %}

            {% if selectAll == 2%}
                <script>
                    var radio_ul = document.getElementById('func');
                    var radio_li = radio_ul.getElementsByTagName("li");
                    for (i = 0; i < radio_li.length; i++) {
                        var x = radio_li[i];
                        x.classList = "pretty p-default p-round";
                        var y = x.getElementsByTagName("label")[0];
                        var para = document.createElement("div");
                        para.classList = "state p-success-o";
                        para.appendChild(y.cloneNode(true));
                        x.replaceChild(para, y);
                    };
                    {% if current_user.is_authenticated == False %}
                        var input_radio = document.getElementById('func-1');
                        input_radio.disabled = true;
                    {% endif %}
                </script>
            {% endif %}

            {% if field.errors %}
                <ul class="has-error">
                    {% for error in field.errors %}
                        <li class="control-label">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    
{% endmacro %}