{% extends 'base.html' %}
    {% block content %}
    <center>
        <h2>Login</h2>
    </center>
    <div class="container">
        <div class="col-lg-offset-4 col-lg-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <form method="post" role="form" style="margin:5%;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                <center><button type="submit" class="btn btn-default">Submit</button></center>
            </form>
        </div>
    </div>
{% endblock %}

{% macro render_field(field) %}
    {{ field.label }}
    <div class="form-group">
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class="has-error">
                {% for error in field.errors %}
                <li class="control-label">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}