{% extends 'base.html' %}

{% block content %}

<div id="maindiv">
    <div id="rtable">
        {% if form_arg.get('keyword') != '' %}
            <p><b>关键词：</b>{{ form_arg.get('keyword') }}</p>
        {% else %}
            <p><b>关键词：</b>None</p>
        {% endif %}

        {% if form_arg.get('author') != '' %}
            <p><b>作者：</b>{{ form_arg.get('author') }}</p>
        {% else %}
            <p><b>作者：</b>None</p>
        {% endif %}

        <p><b>主题：</b>{{ SC_name }}</p>

        {% if num > 0 %}
            <div class="msga">预览近 <b>{{ form_arg.get('period') }}</b> 天最新发表/更新的 <b>{{ num }}</b> 篇相关论文如下：</div>
        {% else %}
            <div class="msga">近 <b>{{ form_arg.get('period') }}</b> 天无相关论文。</div>
        {% endif %}

        {% for rawid in result_dict %}
            <hr />
            <div id="{{ rawid }}" class="apaper">
                <span class="Z3988" title="yuri"></span>
                <div class="paperdesc">
                    <span class="ts"><a href="{{ result_dict.get(rawid).get('link') }}" }}
                            target="_blank"> {{ result_dict.get(rawid).get('title') }} </a></span>
                    <br>

                    <span class="as">{{ result_dict.get(rawid).get('authors') }}</span>
                    <br>

                    <span class="ds">{{ result_dict.get(rawid).get('updated') }}</span>

                    <span class="cs"></span>
                    <br>
                    
                    <span class="ccs">{{ result_dict.get(rawid).get('arxiv_comment') }}</span>
                </div>
                <div class="dllinks">
                    <span class="spid">{{ rawid }}</span>
                    <a href="{{ result_dict.get(rawid).get('link') }}.pdf" target="_blank">pdf</a>
                    <br>
                </div>
                <div style="clear:both"></div>
                <span class="tt">{{ result_dict.get(rawid).get('summary') }}</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}