{% extends 'base.html' %}

{% block content %}
<h2>arXiv</h2>
<form method="post" action="/arxiv">

    {{ render_field(form.keyword) }}
    {{ render_field(form.author) }}
    {{ render_field(form.period) }}
    {{ render_field(form.subjectCategory) }}

    <center><button type="submit" class="btn">查询</button></center>
<form/>
{% endblock %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}